@import'./modules/layout.css';
@import'./modules/header.css';
@import'./modules/nav.css';
@import'./modules/menu.css';
@import'./modules/cards.css';

.body {
  background-color: #20232a;
  color: white;
  font-family: monospace;
  margin: 0;
}



/* .card {
  border-radius: 0.5rem;
  box-shadow: 0 0 0.125rem 0.125rem #ffffff80;
  overflow: hidden;
}

.card__header,.card__footer{
  background-color: #00000080;
  padding: 0.5rem 1rem;
}

.card__body {
  background-color: #00000040;
  padding: 1rem;
}

.card__title {
  font-size: 1.25rem;
  margin: 0;
}

.card__subtitle {
  font-size: 1rem;
  margin: 0;
}

.card__text {
  display: none;
}
@media (min-width:768px) {
  .card__title {
    font-size: 1.5rem;
  }
  .card__subtitle {
    font-size: 1.25rem;
    margin: 0;
  }
  .card__text{
    display: flex;
    font-size: 0.875rem;
  }


} */

/*esete archivo se paso a la cards.css  */




/*  se aplica el ultimo(principio de cascada)"CSS" 

1/.card__title {
  font-size: 1.25rem ->
  _____________________________
  2/@media (min-width:768px) {
  .card__title {
    font-size: 1.5rem;->EL ULTIMO QUEDA SW LOA FONT-SIZE POR ESO SE LLAMADA CASCADA  */