/* .hero-img{}
 */
.hero-img img {
    display: flex; 
    background-color:var(--reverse-secondary-shadow-color);
    border-radius: 50%;
    width: 256px;
    height: 256px   
}    
@media(min-width:768px){
    .hero-img_img{
        width: 320px;
        height: 320px;
    }
}