.container {
	max-width: 1024px;
	margin: 0 auto;
	padding-left: 1rem;
	padding-right: 1rem;
}
/* .elements {
	display: flex;
	flex-direction: column;
	gap: 2rem;

}  */

.elements--header-nav {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}
.elements--hero {
	display: grid;
    align-items: center;
    justify-items: center;/* centra la foto(circulo) */
	grid-template-columns: 1fr;
	gap: 2rem;
}
.section {
	padding-top: 2rem;
	padding-bottom: 2rem;
	box-sizing: border-box;
}
.section--hero {
	display: flex;
	align-items: center;
	background-image: url("https://i.postimg.cc/7PJV8Dp8/react-01-01-wpo.webp");
	background-size: cover;
	background-position: center;
	min-height: 100vh;
	box-sizing: border-box;
}
@media (min-width: 768px) {
    .elements--hero{
        grid-template-columns: 1fr 1fr;
    }
}
