.menu {
    display: flex;
    gap: 16px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu__link {
    color: var(--primary-text-color);
    font-weight: 700;
    text-decoration: none;
    transition: color 0.25s;
}

.menu__link:hover {
    color: var(--primary-highlight-color);
}