:root {
    --primary-theme-color: #20232a;
    --primary-shadow-color: #ffffff80;
    --reverse-primary-shadow-color: #00000080;
    --reverse-secondary-shadow-color: #00000040;
    --primary-text-color: #fff;
    --reverse-primary-text-color: #000;
    --primary-highlight-color: #61dafd;
    --primary-font-family: font-family: 'Inconsolata', monospace;;

}